////////////////////////////////////////////////////////////////////////////////
// Color palette function
////////////////////////////////////////////////////////////////////////////////

  $colors: (
  'accent': (
    base: #ADC26A,
  ),
  'primary': (
    base: #5C5956,
  ),
 'grey': (
   base: #9B9B9B,
   light: #F7F7F7
 ),
 'black': (
   base: rgb(42,49,51),
   dark: #262626,
   trans: transparentize(#000, .3)
 ),
 'white': (
   base: #fff,
   trans: transparentize(#fff, .5)
 )
);

@function color($color-name, $tone: base) {
    @return map-get(map-get($colors, $color-name), $tone);
}
